<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjectEight</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CarOwnerServlet</display-name>
    <servlet-name>CarOwnerServlet</servlet-name>
    <servlet-class>ProjectEight.CarOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarOwnerServlet</servlet-name>
    <url-pattern>/CarOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTripServlet</display-name>
    <servlet-name>CreateTripServlet</servlet-name>
    <servlet-class>ProjectEight.CreateTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTripServlet</servlet-name>
    <url-pattern>/CreateTripServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTripServlet</display-name>
    <servlet-name>SearchTripServlet</servlet-name>
    <servlet-class>ProjectEight.SearchTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTripServlet</servlet-name>
    <url-pattern>/SearchTripServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarOwnerLogin</display-name>
    <servlet-name>CarOwnerLogin</servlet-name>
    <servlet-class>ProjectEight.CarOwnerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarOwnerLogin</servlet-name>
    <url-pattern>/CarOwnerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoTravellerLogin</display-name>
    <servlet-name>CoTravellerLogin</servlet-name>
    <servlet-class>ProjectEight.CoTravellerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoTravellerLogin</servlet-name>
    <url-pattern>/CoTravellerLogin</url-pattern>
  </servlet-mapping>
</web-app>